.HomePage .container {
    background-color: rgba(255, 255, 255, 0.78);
    opacity: 1;
    padding: 30px;
}

.HomePage p {
    font-size: 18px;
    text-align: justify;
}

.HomePage__header {
    width: 100%;
    padding: 40px 30px 40px 30px;
}

.HomePage__header h1 {
    width: 100%;
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
    font-weight: 900;
    color: #91927b;
}

.HomePage__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.HomePage__card {
    width: 320px;
    max-width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 25px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.349);
    text-align: center;
    margin: 20px;
    transition-duration: 0.2s;
}

.HomePage__card:hover {
    transform: translateY(-10px) scale(1.1);
}

.HomePage__card-icon {
    width: 100%;
    text-align: center;
    font-size: 100px;
}

.HomePage__card-heading {
    font-weight: 600;
    margin-top: 35px;
    min-height: 78px;
}

.HomePage__card-content {
    text-align: center !important;
}
