.table-div
{
    margin-top: 20px;
    width: 90%;
    margin-left: 4.5%;
}

.competitors-header {
    color: #2755b9da;
    font-weight: bold;
    padding: 15px;
    font-size: 24px;
}

.competitors-left-div {
    float: left;
}

.competitors-right-div {
    float: left;
}

.competitors-tile-div {
    margin-top: 30px;
}

.activeRow {
    background-color: #2AB1E1;
    color: white;
    font-weight: bolder;
    padding-left: 30px;
}

@media (max-width: 1299px) {
    .competitors-left-div {
        width: 100%;
    }
    .competitors-right-div {
        width: 100%;
    }
    .competitors-tile-div {
        width: 97%;
        margin-left: 2%;
    }
}

@media (min-width: 1300px) {
    .competitors-left-div {
        width: 50%;
    }
    .competitors-right-div {
        width: 50%;
    }
    .competitors-tile-div {
        width: 90%;
        margin-left: 5%;
    }
}