.table-div {
    float: left;
    margin-top: 50px;
    width: 90%;
    margin-left: 4.5%;
}

.competitors-header {
    color: #2755b9da;
    font-weight: bold;
    padding: 15px;
    font-size: 24px;
}

.competitors-column-div {
    float: left;
}

.competitors-tile-div {
    margin-top: 30px;
}

.activeRow {
    background-color: #2ab1e1;
    color: white;
    font-weight: bolder;
    padding-left: 30px;
}

.scrolling {
    overflow: auto;
    max-height: 300px;
    width: 90%;
}

#info-msg {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 1299px) {
    .competitors-column-div {
        width: 100%;
    }
    .competitors-tile-div {
        width: 97%;
        margin-left: 2%;
    }
}

@media (min-width: 1300px) {
    .competitors-column-div {
        width: 50%;
    }
    .competitors-tile-div {
        width: 90%;
        margin-left: 5%;
    }
}
