.category-btn {
    margin: 0px 10px 20px 10px;
    font-size: 15px;
    font-weight: 700;
    height: 8%;
    cursor: pointer;
    color: #33322f;
    background-color: #d6c189;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    border: none;
    box-shadow: 0px 0px 5px #d6c189;
}

.category-btn:hover {
    font-size: 15.5px;
    padding: 4px 18px 4px 18px;
    text-shadow: 0px 0px 15px #fff;
    box-shadow: 0px 0px 25px #d6c189;
}

.scoreChooseBtn {
    border: 1px solid rgb(37, 93, 156);
    color: rgb(61, 126, 201);
    margin-top: 3%;
    margin-left: 5%;
    width: 42.5%;
    height: 65px;
}

.scoreChooseBtn:hover {
    background-color: rgba(93, 154, 223, 0.829);
    color: white;
}

.codeBtn {
    margin-left: auto;
    margin-right: auto;
}
