.Brackets {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.Round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    list-style: none;
    padding: 0;
}

li.game {
    padding-left: 20px;
    width: 100%;
}

li.game.winner {
    font-weight: bold;
}
li.game span {
    float: right;
    margin-right: 5px;
}

li.game-top {
    border-bottom: 1px solid #aaa;
}

li.game-spacer {
    border-right: 1px solid #aaa;
    min-height: 40px;
}

li.game-bottom {
    border-top: 1px solid #aaa;
}
