body {
    overflow: hidden;
}
.Content {
    margin: 212px 0px 0px 0px;
    overflow-y: scroll;
    height: calc(100vh - 212px);
    background-image: url("../../assets/bg.png");
}

@media (max-width: 800px) {
    .Content {
        margin: 202px 0px 0px 0px;
        height: calc(100vh - 205px);
    }
}
@media (max-width: 599px) {
    .Content {
        margin: 70px 0px 0px 0px;
        padding-bottom: 20px;
        height: calc(100vh - 70px);
    }
}
@media (min-width: 600px) {
    .Content {
        height: calc(100vh - 202px);
        padding-bottom: 20px;
    }
}
