.Toolbar {
    width: 100%;
    position: fixed;
    background: linear-gradient(
        120deg,
        rgba(205, 143, 86, 1) 20%,
        rgba(217, 235, 52, 1) 98%
    );
    background-size: cover;
    top: 0;
    left: 0;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    text-align: center;
}

.Toolbar nav {
    height: 100%;
    width: 100%;
    background-color: rgba(214, 193, 137, 0.96);
    align-items: center;
}

.Logofs {
    margin-left: 20px;
}

@media (min-width: 600px) {
    .Logofs {
        height: 140px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .Toolbar {
        justify-content: space-evenly;
    }
}
@media (max-width: 599px) {
    .DesktopOnly {
        display: none;
    }
    .Logofs {
        display: none;
    }
    .Toolbar {
        box-shadow: 0px 0px 15px #4e3218;
        background: linear-gradient(
            120deg,
            rgba(205, 143, 86, 1) 20%,
            rgba(217, 235, 52, 1) 98%
        );
    }
}
