.categories-header {
    color: #2755b9da;
    font-weight: bold;
    padding: 15px;
    font-size: 24px;
}

.category-column-div {
    float: left;
}

.category-tile-div {
    margin-top: 30px;
}

.activeRow {
    background-color: #2ab1e1;
    color: white;
    font-weight: bolder;
    padding-left: 30px;
}

.infoMessage {
    font-size: 16px;
    margin-left: 15px;
    font-weight: 700;
    opacity: 0;
}

@media (max-width: 1299px) {
    .category-column-div {
        width: 100%;
    }
    .category-tile-div {
        width: 97%;
        margin-left: 2%;
    }
}

@media (min-width: 1300px) {
    .category-column-div {
        width: 50%;
    }
    .category-tile-div {
        width: 90%;
        margin-left: 5%;
    }
}
