.text-input
{
    width: 200px;
    height: 20px;
    margin-bottom: 2%;
    font-size: 16px;
    padding-left: 10px;
}

@media (min-width: 600px){
    .text-input{
        width: 200px;
    }
}

@media (max-width: 599px){
    .text-input{
        width: 200px;
    }
}

