@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap");

.DetailsContainer {
    margin-top: 10px;
    padding: 20px 30px 10px 30px;
    border-radius: 20px;
    background-color: #fff;
    opacity: 0.78;
    justify-content: center;
    display: flex;
    align-content: center;
}

#competitionsDetailLeftDiv {
    width: 30%;
}

#competitionsDetailRightDiv {
    width: 60%;
    padding-top: 20px;
}

#insidecompetitionsDetailRightDiv {
    width: 95%;
    margin-left: 5%;
    margin-right: 5%;
}

#compName {
    font-size: 26px;
    color: #33322f;
    font-weight: 700;
    text-shadow: -1px 1px 3px #fff;
    background-color: #d6c189;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0px 0px 30px #d6c189;
}

.middleHeader {
    font-weight: 700;
}

.detailDiv,
.scheduleDiv {
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
    background-color: #f0ead8;
    opacity: 0.98;
    color: #30343b;
    margin-bottom: 20px;
    border-radius: 20px;
}

.insideDetailDiv {
    padding: 10px;
}

.title_p {
    padding-top: 5px;
}

.title_pn {
    margin-bottom: 0px;
}

.scheduleDiv {
    background-color: #fffbed;
}

.fs {
    border: 2px solid #a19778;
    padding: 0px 30px 10px 30px;
}

.fs legend {
    width: auto;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    color: #7d745a;
    font-weight: 700;
    border: none;
}

.buttonList {
    margin: 0px 20px 0px 20px;
}
